body{
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom,#06283D ,30%,#3f6c7d )
}
.title-box{
    height: 10vh;
    display: grid;
    place-content: center;    
    margin-top: 5%;
    }
.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;   
    background: linear-gradient(#B9FFF8 50%,#22bfa2 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
}
#space{
    display:flex;
    width:100%;
    height:100%;
    /* padding-left:1em;
    padding-right:1em; */
}
.towerSpace{
    width: 33.33vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tower{
    width: 2em;
    height: 40vh;
    background: linear-gradient(to top,#041C32,45%,#4FBDBA );
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 5px#000000;
    /* position: */
}
.tower.selected .block:last-child{
    transform: translate(0, -100%);
}
.towerSpace:hover .tower :last-child{
    box-shadow: 0 5px 8px 1px rgba(150, 138, 138, 0.533);
    transition: 0s;
}
.block{
    height:10%;
    margin-top: .5em;
    border: 1.5px solid ; /*to create shrink effect when hovred*/
    border-radius: 8px;
    transition: .2s ease-out;
    background: linear-gradient(#4C6793 5%,#000 95%);
}
.block:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: 0s;
}
.block1{
    background-color: #000;
    width: 200%;
}
.block2{
    background-color: #000;
    width: 400%;
}
.block3{
    background-color: #000;
    width: 600%;
}
.block4{
    background-color: #000;
    width: 800%;
}

@media only screen and (max-width: 480px) {
    #space{
        display: flex;
        flex-direction: column;
    }
    .towerSpace{
        width: 100%;
        height: 33.33%;
    }
    .tower{
        height: 60%;
    }
    .block1{
        width: 200%;
    }
    .block2{
        width: 300%;
    }
    .block3{
        width: 400%;
    }
    .block4{
        width: 500%;
    }
}